absl-py==2.1.0
annotated-types==0.7.0
anyio 
appnope 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
astunparse==1.6.3
attrs==23.2.0
Babel 
backcall 
beautifulsoup4 
bleach 
brotlipy==0.7.0
cattrs==23.2.3
certifi 
cffi 
charset-normalizer 
cloudpickle==3.0.0
comm==0.2.2
contourpy==1.0.7
cryptography 
cycler==0.11.0
debugpy 
decorator 
defusedxml 
distro==1.9.0
entrypoints
exceptiongroup==1.2.1
executing 
fastjsonschema 
flatbuffers==24.3.25
fonttools==4.39.4
gast==0.6.0
google-pasta==0.2.0
grpcio==1.66.1
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httpx==0.27.2
idna 
inflect==7.2.1
ipykernel 
ipython 
ipython-genutils 
ipywidgets==8.1.5
jedi 
Jinja2
jiter==0.5.0
joblib==1.4.2
json5 
jsonschema 
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab_server 
jupyterlab_widgets==3.0.13
keras==3.5.0
kiwisolver==1.4.4
libclang==18.1.1
llvmlite==0.43.0
lxml 
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.7.1
matplotlib-inline
mdurl==0.1.2
mistune
ml-dtypes==0.4.1
more-itertools==10.3.0
mplsoccer==1.4.0
namex==0.0.8
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numba==0.60.0
numpy
openai==1.47.0
opt-einsum==3.3.0
optree==0.12.1
packaging
pandas==2.0.1
pandocfilters
parso
patsy==0.5.3
pexpect
pickleshare
Pillow==9.5.0
platformdirs
prometheus-client
prompt-toolkit
protobuf==4.25.5
psutil
ptyprocess
PuLP==2.7.0
pure-eval
pycparser
pydantic==2.9.2
pydantic_core==2.23.4
Pygments
pyOpenSSL
pyparsing==3.0.9
pyrsistent
PySocks
python-dateutil
pytz
pyzmq
requests
requests-cache==1.2.0
rich==13.8.1
scikit-learn==1.5.1
scipy
seaborn==0.12.2
Send2Trash
shap==0.46.0
six
slicer==0.0.8
sniffio
soupsieve
stack-data
statsbombpy==1.13.0
statsmodels==0.14.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminado
threadpoolctl==3.5.0
tinycss2
tomli
tornado
tqdm==4.66.1
traitlets
transfermarket==0.0.3
typeguard==4.3.0
typing_extensions==4.12.2
tzdata==2023.3
url-normalize==1.4.3
urllib3
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==3.0.4
widgetsnbextension==4.0.13
wrapt==1.16.0
xgboost
